{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "eslintintegration": true,
  "arrowparens": "always",
  "endofline": "lf",
  "trailingcomma": "all"
}